@use 'sass:color';
@import '../../styles/vars';
@import '../../styles/mixins';

.button {
  padding: 8px 15px;
  color: $beige;
  background-color: $green;
  border: none;
  font-weight: bold;
  border-radius: $borderRadiusSmall;
  cursor: pointer;
  user-select: none;
  position: relative;
  width: 177px;
  height: 44px;
  margin-left: 8px;

  &.color-green {
    background-color: $green;

    &:hover {
      background-color: #777427;
    }

    &:active {
      background-color: #969220;
    }
  }

  &.color-red {
    background-color: $red;

    &:hover {
      background-color: color.scale($red, $lightness: 10%);
    }

    &:active {
      background-color: color.scale($red, $lightness: 30%);
    }
  }

  &.disabled {
    pointer-events: none;
    background-color: #929292;
    color: #d9d9d9;
  }

  &.loading {
    @include loader($borderWidth: 3px, $size: 20px, $color: $white);

    .text {
      opacity: 0;
    }
  }
}
