@import '../../styles/vars';
@import '../../styles/mixins';

$breakpoint: '<=900px';
$breakpoint2: '<=390px';

.layout {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  .navigation {
    height: 64px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 0 0 64px;
    padding: 0 10%;
    background-color: $green;
    @include media($breakpoint) {
      justify-content: center;
      gap: 20px;
    }
  }

  .logo {
    padding-top: 2px;
    width: 30px;
    height: 30px;
  }

  .menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 57px;

    .item {
      .link {
        @include link;
      }
    }
    @include media($breakpoint2) {
      gap: 30px;
    }
  }

  .content {
    height: 100%;
    overflow: auto;
    flex: 1 1 100%;
   // padding: 20px 30px;

    @include media($breakpoint) {
      overflow: visible;
      height: auto;
    }
  }
}
